<div class="hot_goods_item <?=$a['class']?>">
	<div class="hgi_name">
		<a href="<?=$a['link']?>"><?= ($a['grower']!='') ? '«'.$a['grower'].'». ' : ''?><?=$a['name']?></a>
		
		<?if($a['personal_discount']>0):?>		
			<span>-<?=$a['personal_discount'];?>%</span>
		<?endif;?>		
		
	</div>
	<div class="hgi_img">
	
		<?if($a['new']==1):?>
			<div class="new_big">New</div>
		<?endif;?>	
	
		<a href="<?=$a['link'];?>">
			<?if($a['avatar']!=''):?>
				<img src="<?=Front_Catalog_Helper_Image::goods_path($a['id'],$a['avatar'],'122x122');?>" alt="<?=htmlspecialchars($a['alt']);?>">
			<?else:?>
				<span class="goods_noimg"></span>
			<?endif;?>
		</a>
	</div>
	<div class="hgi_price <?= ($a['personal_discount']>0) ? 'w_discount' : '';?>">
		<?if(isset($a['price'])):?>	
			<?=$a['price'];?>
		<?endif;?>
	</div>
	<div class="goods_item_lnk_1">
		<a href="<?=$a['link']?>">Заказать</a>
	</div>
	<div class="clr"></div>
</div>

<?if($a['num']==3):?>

	<div class="clr"></div>
	<div class="hot_goods_divider"></div>
	
<?endif;?>