.aim{position:relative;overflow:hidden;margin:0;clear:both; padding:0}
	.aim a{background-position:0 50%;cursor:pointer;display:block;overflow:hidden;position:relative;float:left;text-decoration:none}
	.aim ul{list-style:none}
	.aim li{display:block;overflow:hidden;float:left;}