#level_description{margin:40px 0 0;}
#level_description_upper{margin:0 0 10px;}

#level_filter{height:40px;background:#f2f2f2;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;margin:0 0 20px;font-size:11px;color:#666;}
	#level_filter .lft{float:left;height:100%}
	#level_filter #lf_amount{width:90px;;border-right:1px solid #fff;}
		#level_filter #lf_amount #lf_amount_i{padding:14px 0 0;text-align:center;}
	#level_filter #lf_measure{padding:7px 10px 0;border-right:1px solid #fff;}
		#level_filter #lf_measure input[type="text"]{width:68px;}
	#level_filter #lf_sort{padding:0 15px 0 10px;}
		#level_filter #lf_sort span{float:left;padding:14px 7px 0 0;}
		#level_filter #lf_sort .dropdown_container{float:left;margin:7px 0 0;}
		#level_filter #lf_sort input[type="text"]{width:132px;}
	#level_filter #lf_display_type{}
		#level_filter #lf_display_type li{float:left;height:26px;padding:7px 11px 0 25px;margin:7px 0 0;background-repeat:no-repeat;background-position:10px 10px;cursor:pointer;-moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
		#level_filter #lf_display_type li#goods_list{background-image:url(/browser/front/i/ico_goods_list.png);margin-right:10px;}
		#level_filter #lf_display_type li#goods_list_table{background-image:url(/browser/front/i/ico_goods_list_table.png);}
		#level_filter #lf_display_type li.active, #level_filter #lf_display_type li:hover{background-color:#fff;}
		#level_filter #lf_display_type li.active{cursor:auto;}
		
.goods_item{border:1px solid #c8c8c8;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;margin:0 0 20px;padding:0 0 10px;position:relative;}
	.goods_item h2{font-size:14px;border-bottom:1px dotted #b2b2b2;margin:0 3px;padding:13px 11px 10px;}
		.goods_item h2 a{text-decoration:none;}
		.goods_item h2 span{background:url(/browser/front/i/goods_item_discount.png);width:42px;padding:1px 0 0;height:15px;margin:0 0 0 5px;display:inline-block;font-size:11px;color:#fff;text-align:center}
	.goods_item .goods_item_i{float:left;width:157px;text-align:center;padding:23px 0 0;position:relative;}
		.goods_item .goods_item_i .goods_item_new_big{position:absolute;width:69px;height:65px;background:url(/browser/front/i/goods_item_new_big.png);bottom:-20px;left:5px;}
		.goods_item .goods_item_i a{outline:none;text-decoration:none;}
			.goods_item .goods_item_i a img{width:122px;height:122px;}
	.goods_item .goods_item_l{float:left;width:386px;padding:19px 0 1px;}
		.goods_item .goods_item_l .goods_item_dsc{font-size:12px;color:#4c4c4c;line-height:16px;padding:0 0 24px;}
		.goods_item .goods_item_l .goods_item_feats{font-size:12px;color:#666;line-height:18px;}
			.goods_item .goods_item_l .goods_item_feats li{padding:0 0 4px;}
			.goods_item .goods_item_l .goods_item_feats b{font-weight:normal;color:#999;}
			.goods_item .goods_item_l .goods_item_feats a{margin-left:8px;}
				.goods_item .goods_item_l .goods_item_feats img{margin-top:3px;}
	.goods_item .goods_item_r{float:right;width:127px;margin:0 20px 0 0;}
		.goods_item .goods_item_r .goods_item_price{padding:19px 0 0 13px;}
			.goods_item .goods_item_r .goods_item_price li{color:#ccc;}
				.goods_item .goods_item_r .goods_item_price li span{color:#333;}
				.goods_item .goods_item_r .goods_item_price li b{background:url(/browser/front/i/goods_price_hint.png);width:9px;height:10px;display:inline-block;margin:0 0 0 2px;}
			.goods_item .goods_item_r .goods_item_price li.price_1{font-size:18px;padding:0 0 10px;}
			.goods_item .goods_item_r .goods_item_price li.price_2{font-size:12px;padding:0 0 3px;}
			.goods_item .goods_item_r .goods_item_price li.new span{color:#007a00;}
			.goods_item .goods_item_r .goods_item_price li.old span{text-decoration:line-through;}
			.goods_item .goods_item_r .goods_item_price li.old.price_1{padding:0;}
			.goods_item .goods_item_r .goods_item_price li.goods_item_none{font-size:12px;}
	.goods_item .goods_item_order{position:absolute;bottom:20px;right:20px;}
	.goods_item .goods_item_more_link{position:absolute;bottom:20px;right:20px;padding:0 31px 0 0;}
		.goods_item .goods_item_more_link a{font-size:12px;color:#999;}
	.goods_item .goods_item_buy_link{position:absolute;bottom:20px;right:20px;padding:0 31px 0 0;}
		.goods_item .goods_item_buy_link a{color:#e38a25;font-size:18px;}
	.goods_item .goods_item_noorder{position:absolute;bottom:20px;right:20px;}
	
.goods_item_table{width:100%;color:#333;font-size:12px;}
	.goods_item_table th{font-size:11px;color:#666;font-weight:normal;border-bottom:1px solid #e0e0e0;padding:0 0 9px;}
	.goods_item_table th.git_price{text-align:center;padding-right:10px;}
	.goods_item_table th.git_price b{background:url(/browser/front/i/goods_price_hint.png);width:9px;height:10px;display:inline-block;margin:0 0 0 2px;}
	.goods_item_table td{border-bottom:1px dotted #b2b2b2;padding:8px 0 10px;}
	.goods_item_table td.git_name{width:257px;padding-right:24px;line-height:16px;}
		.goods_item_table td.git_name span{background:url(/browser/front/i/goods_item_discount.png);width:42px;height:16px;margin:2px 0 0 5px;display:inline-block;font-size:11px;color:#fff;text-align:center}
		.goods_item_table td.git_name b{font-size:11px;color:#999;font-weight:normal;}
	.goods_item_table td.git_name.no_tastes{width:320px;}
	.goods_item_table td.goods_item_new_small{background:url(/browser/front/i/goods_item_new_small.png) 0 50% no-repeat;padding-left:45px;width:212px;}
	.goods_item_table td.git_features{width:120px;padding-right:17px;}
		.goods_item_table td.git_features input[type="text"]{width:92px;}
		.goods_item_table td.git_features .feature_line{padding:0 0 7px;}
		.goods_item_table td.git_features .feature_line.last{padding:0;}
	.goods_item_table td.git_packing{width:98px;}
	.goods_item_table td.git_price{color:#999;}
		.goods_item_table td.git_price div{text-align:right;padding-right:20px;}
		.goods_item_table td.git_price span{color:#000;}
		.goods_item_table td.git_price .old span{text-decoration:line-through;}
		.goods_item_table td.git_price .new span{color:#007a00;}
	.goods_item_table td.git_price_1{}
		.goods_item_table td.git_price_1 span{font-size:13px;font-weight:bold;}
	.goods_item_table td.git_book{width:75px;padding-right:5px;}
		.goods_item_table td.git_book a{font-size:16px;color:#e5933f;}
		.goods_item_table td.git_book .goods_item_more_link a{color:#999;font-size:11px;}
	.goods_item_table tr.grower_head{}
		.goods_item_table tr.grower_head td{color:#e38a25;font-size:19px;border-bottom:1px solid #e0e0e0;padding-top:32px;}

#level_pagination{text-align:center;font-size:12px;color:#666;font-weight:bold;padding:6px 0 0;}
	#level_pagination li{display:inline;margin-right:8px;}
		#level_pagination li a{font-weight:normal;color:#666;}
	#level_pagination li.prev{padding-right:4px;}
	#level_pagination li.next{padding-left:4px;}
	
#goods_page{}
	#goods_page #goods_info_abs{position:absolute;bottom:0;text-align:center;}
		#goods_page #goods_info_new{width:69px;height:65px;background:url(/browser/front/i/goods_item_new_big.png);margin:10px 0 0;}
		#goods_page #goods_info_dsc{background:url(/browser/front/i/goods_item_discount.png);width:42px;padding:1px 0 0;height:15px;margin:0 0 0 5px;display:inline-block;font-size:11px;color:#fff;text-align:center;}
	#goods_page #goods_vendor{font-size:12px;color:#999;padding:0 0 6px;}
	#goods_page h1{font-size:24px;padding:0 0 8px;font-weight:normal;}
		#goods_page h1 b{font-size:12px;font-weight:normal;}
	#goods_page .goods_tog_block{}
		#goods_page .goods_tog_block .goods_tog_block_h{padding:0 0 19px;}
			#goods_page .goods_tog_block .goods_tog_block_h h2{font-size:18px;font-weight:normal;}
				#goods_page .goods_tog_block .goods_tog_block_h a{text-decoration:none;border-bottom:1px dashed #333;color:#333;padding:0 27px 0 0;}
					#goods_page .goods_tog_block .goods_tog_block_h a:hover{border-bottom:none;}
				#goods_page .goods_tog_block .goods_tog_block_h.vis a{background:url(/browser/front/i/goods_tog_block_h_a.jpg) 100% 10px no-repeat;}
				#goods_page .goods_tog_block .goods_tog_block_h.invis a{background:url(/browser/front/i/goods_tog_block_h_a.jpg) 100% -6px no-repeat;}
		#goods_page .goods_tog_block .goods_tog_block_i{font-size:12px;color:#4c4c4c;line-height:16px;padding:0 0 28px;}
			#goods_page .goods_tog_block .goods_tog_block_i p{padding:0 0 7px;}
			#goods_page .goods_tog_block .goods_tog_block_i ul{}
				#goods_page .goods_tog_block .goods_tog_block_i ul li{background:url(/browser/front/i/texted_li.png) 0 5px no-repeat;padding:0 0 10px 23px;}
			#goods_page .goods_tog_block .goods_tog_block_i ol{}
				#goods_page .goods_tog_block .goods_tog_block_i ol li{padding:0 0 10px;margin:0 0 0 20px;}
	#goods_page #goods_ingr{padding-bottom:28px;}
		#goods_page #goods_ingr .goods_tog_block_i{padding:0;}
	#goods_page #goods_info{width:349px;float:right;padding:5px 0 28px;}
		#goods_page #goods_info #goods_info_features{padding:0 0 0 11px;}
			#goods_page #goods_info #goods_info_features li{font-size:12px;padding:0 0 7px;}
				#goods_page #goods_info #goods_info_features li .gif_label{float:left;width:115px;color:#999;}
				#goods_page #goods_info #goods_info_features li .gif_val{float:left;color:#333;}
			#goods_page #goods_info #goods_info_features li.feat_select{}
				#goods_page #goods_info #goods_info_features li.feat_select .gif_label{padding:6px 0 0;}
		#goods_page #goods_info_upper_order{background:url(/browser/front/i/goods_info_upper_order.png) 0 20px no-repeat;padding:0 0 0 11px;margin:15px 0 0;}
			#goods_page #goods_info_upper_order #goods_info_upper_order_i{background:#f2f2f2;padding:0 16px 5px;}
			#goods_page #goods_info_upper_order #goods_info_upper_none{padding:20px 15px 15px;color:#666;font-size:13px;}
		#goods_page #goods_info_ostatok{font-size:11px;background:#FADAD3;font-weight:bold;padding:8px 0 8px 15px;margin:20px 0 0 11px;}
			#goods_page #goods_info_ostatok #goods_info_ostatok_label{float:left;margin:0 8px 0 0;}
			#goods_page #goods_info_ostatok #goods_info_ostatok_value{float:left;color:#ff0000;}
	#goods_page #lower_order{float:right;}

.barcode_line{border-bottom:1px dotted #7f7f7f;padding:14px 0;}
	.barcode_line .barcode_line_l{float:left;width:140px;padding:0 0 0 10px;}
		.barcode_line .barcode_line_l .barcode_line_packing{font-size:12px;color:#333;padding:0 0 7px;}
		.barcode_line .barcode_line_l .barcode_line_features{}
			.barcode_line .barcode_line_l .barcode_line_features select{width:120px;}
		.barcode_line .barcode_line_l .barcode_line_colors{padding:7px 0 0;}
			.barcode_line .barcode_line_l .barcode_line_colors select{width:120px;}
	.barcode_line .barcode_line_price{float:left;font-size:12px;color:#999;padding:22px 0 0;}
		.barcode_line .barcode_line_price b{font-size:18px;font-weight:normal;color:#000;}
	.barcode_line .barcode_line_buy{float:right;}
.barcode_line.last{border-bottom:0;}
.barcode_line.no_tastes{}
	.barcode_line.no_tastes .barcode_line_l{padding-top:7px;}
	.barcode_line.no_tastes .barcode_line_price{padding-top:3px;}
	.barcode_line.no_tastes .g_order_button{margin-top:0;}

#level_page_container{position:relative;}
	#goods_social_share_1{position:absolute;top:-47px;right:0;background:#fff;padding:0 0 0 15px;}
		#goods_social_share_1 .yashare_label{font-size:12px;float:left;color:#666;padding:7px 0 0;}

#goods_social_share{padding:15px 0 0 12px;}
	#goods_social_share .yashare_label{font-size:12px;float:left;color:#666;padding:7px 0 0;}

.g_order_no{width:80px;text-align:center;font-size:10px;line-height:12px;color:#999;padding:3px 0 0;font-style:italic;}

.g_order_button{margin:18px 0 0 0;}
	.g_order_button a{display:block;border:1px solid #f49900;height:28px;background:url(/browser/front/i/goods_item_order.jpg) 0 0 repeat-x;color:#fff;text-decoration:none;outline:none;font-size:12px;position:relative;}
		.g_order_button a span{display:block;height:22px;padding:6px 11px 0 11px;}
	.g_order_button a .added{width:24px;height:20px;padding:4px 0 0;background:url(/browser/front/i/goods_item_order_added.png) 0 0 no-repeat;color:#fff;font-family:Tahoma;font-weight:bold;font-size:10px;position:absolute;text-align:center;top:-12px;right:-12px;}


	#goods_page #goods_gallery{float:left;width:340px;margin:20px 0 28px;}
		#goods_page #goods_gallery #goods_gallery_big{height:250px;border:1px solid #c8c8c8;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;text-align:center;background:url(/browser/front/i/preloader.gif) 50% 50% no-repeat;}
			#goods_page #goods_gallery #goods_gallery_big #goods_gallery_big_i{width:100%;height:100%;background:url(/browser/front/i/ico_zoom.png) 100% 100% no-repeat;position:relative;}
			#goods_page #goods_gallery #goods_gallery_big a{outline:none;text-decoration:none;vertical-align:middle;height:250px;width:338px;display:none;}
				#goods_page #goods_gallery #goods_gallery_big a img{max-height:220px;max-width:300px;cursor:pointer;}
			#goods_page #goods_gallery #goods_gallery_big a.active{display:table-cell;}

		#goods_page #goods_gallery #goods_gallery_matrix{padding:9px 1px 0;}
			#goods_page #goods_gallery #goods_gallery_matrix .ggm_item{width:52px;height:52px;padding:2px;border:1px solid #c8c8c8;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;float:left;margin:0 12px 12px 0;}
				#goods_page #goods_gallery #goods_gallery_matrix .ggm_item img{width:52px;height:52px;cursor:pointer;}
			#goods_page #goods_gallery #goods_gallery_matrix .ggm_item.r{float:right;margin-right:0;}

	#goods_page .g_order{width:338px;height:76px;background:#f2f2f2;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
		#goods_page .g_order .g_order_price{float:left;margin:16px 0 0 22px;}
			#goods_page .g_order .g_order_price li{color:#ccc;}
				#goods_page .g_order .g_order_price li span{color:#333;}
				#goods_page .g_order .g_order_price li b{background:url(/browser/front/i/goods_price_hint.png);width:9px;height:10px;display:inline-block;margin:0 0 0 2px;}
				#goods_page .g_order .g_order_price li i{font-style:normal;font-size:11px;color:#333;text-decoration:line-through;}
			#goods_page .g_order .g_order_price li.price_1{font-size:18px;padding:0 0 6px;}
			#goods_page .g_order .g_order_price li.price_2{font-size:12px;}
		#goods_page .g_order .g_noorder_button{float:right;margin:24px 21px 0 0;border:1px solid #b9b9b9;height:27px;width:110px;padding:1px 10px 0;background:url(/browser/front/i/goods_item_noorder.jpg) 0 0 repeat-x;}
			#goods_page .g_order .g_noorder_button .g_noorder_button_i{font-size:11px;color:#fff;line-height:12px;background:url(/browser/front/i/ico_basket_1.png) 0 5px no-repeat;padding:0 0 0 25px;}
		#goods_page .g_order .g_order_button{float:right;margin:24px 21px 0 0;}
			#goods_page .g_order .g_order_button a{display:block;border:1px solid #f49900;height:28px;background:url(/browser/front/i/goods_item_order.jpg) 0 0 repeat-x;color:#fff;text-decoration:none;outline:none;font-size:12px;position:relative;}
				#goods_page .g_order .g_order_button a span{display:block;height:22px;padding:6px 11px 0 33px;background:url(/browser/front/i/ico_basket_1.png) 8px 5px no-repeat;}
				#goods_page .g_order .g_order_button a .added{width:24px;height:20px;padding:4px 0 0;background:url(/browser/front/i/goods_item_order_added.png) 0 0 no-repeat;color:#fff;font-family:Tahoma;font-weight:bold;font-size:10px;position:absolute;text-align:center;top:-12px;right:-12px;}

	#goods_page .feat_img{float:left;width:64px;height:64px;border:1px solid #c8c8c8;padding:2px;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;margin:0 20px 0 0;}
		#goods_page .feat_img img{width:64px;height:64px;}				