*{margin:0;padding:0;}
ul{list-style:none;}
img{border:0;vertical-align:top;}
.clr{clear:both;}
a{text-decoration:underline;}
	a:hover{text-decoration:none;}
	
.nomargin{width:1px;height:1px;margin:0;}	

html, body{height:100%;}
body{text-align:center;background:url(/browser/front/i/body.jpg) 50% 0 repeat-x;font-family:Verdana;}

a{color:#3366cc;}

form{}
	form input[type="text"]{outline:none;}

#not_footer{position:relative;min-height:100%;}
	#not_footer #not_footer_i{padding-bottom:217px;}
* html #not_footer{height:100%;}
#footer{position:relative;height:179px;margin-top:-179px;}

.iw{width:1020px;margin:0 auto;}
	.iw .iw_2{width:1011px;text-align:left;margin:0 auto;}

#cart_preloader{width:100%;height:100%;position:fixed;z-index:20000;background:url(/browser/front/i/loader.png) 50% 50% no-repeat;display:none;}
#cart_preloader.profile{background:url(/browser/front/i/loader_1.png) 50% 50% no-repeat};

#the_count{display:none;}

#h_stripe{background:url(/browser/front/i/h_stripe_border.png) 0 100% repeat-x;height:35px;}
	#h_stripe #h_stripe_keys{color:#fff;font-size:8px;text-transform:uppercase;float:left;padding:13px 0 0;font-weight:normal;width:580px;overflow:hidden;}
		#h_stripe #h_stripe_keys span{color:#607a7e;padding:0 0 0 16px;}
	#h_stripe #h_stripe_links{padding:6px 0 0 10px;float:left;}
		#h_stripe #h_stripe_links li{display:inline;font-size:11px;padding:0 14px 0 0;}
			#h_stripe #h_stripe_links li a{color:#fff;text-decoration:none;}
				#h_stripe #h_stripe_links li a:hover{text-decoration:underline;}
	#h_stripe #h_stripe_social{float:right;padding:10px 15px 0 0;}
		#h_stripe #h_stripe_social li{float:left;margin:0 0 0 6px;}
			#h_stripe #h_stripe_social li a{background:url(/browser/front/i/h_stripe_social.png) 0 0 no-repeat;width:16px;height:16px;float:left;outline:none;text-decoration:none;}
			#h_stripe #h_stripe_social li.hss_tw a{background-position:-16px 0;}
			#h_stripe #h_stripe_social li.hss_fb a{background-position:-32px 0;}
			#h_stripe #h_stripe_social li.hss_rss a{background-position:-48px 0;}

#head{}
	#head #logo{float:left;outline:none;text-decoration:none;background:url(/browser/front/i/logo.png);width:342px;height:77px;margin:15px 0 0;}
	#head #basket{margin:13px 0 0;float:right;padding:1px 0 0;background:url(/browser/front/i/basket_border_bg.png) 0 0 repeat-x;}
		#head #basket #basket_f{padding:0 0 1px;background:url(/browser/front/i/basket_border_bg.png) 0 100% repeat-x;}
		#head #basket #basket_l{padding:0 0 0 1px;background:url(/browser/front/i/basket_border_bg.png) 0 0 repeat-y;}
		#head #basket #basket_r{padding:0 1px 0 0;background:url(/browser/front/i/basket_border_bg.png) 100% 0 repeat-y;height:80px;width:337px;}
		#head #basket #basket_i{font-size:11px;color:#ccc;background:url(/browser/front/i/ico_basket.png) 14px 16px no-repeat;padding:18px 0 0 45px;}
			#head #basket #basket_i b{color:#fff;}
			#head #basket #basket_i a{color:#fff;}
			#head #basket #basket_i ul{}
				#head #basket #basket_i ul li{display:inline;margin:0 8px 0 0;}
			#head #basket #basket_i .basket_bill{padding:19px 17px 0 0;float:left;}
			#head #basket #basket_i .basket_go{outline:none;float:left;text-decoration:none;width:145px;height:24px;background:url(/browser/front/i/cart_go.png) 0 0 no-repeat;margin:15px 0 0 2px;}

#h_auth{width:235px;float:left;padding:20px 0 0 47px;}
	#h_auth #form_h_auth{}
		#h_auth #form_h_auth #h_auth_l{float:left;width:171px;}
			#h_auth #form_h_auth #h_auth_l #h_auth_l_block{padding:0 0 8px 0;}
				#h_auth #form_h_auth #h_auth_l #h_auth_l_block label{float:left;font-size:11px;color:#fff;padding:4px 0 0;}
				#h_auth #form_h_auth #h_auth_l #h_auth_l_block input{float:right;padding:0 5px;height:21px;width:105px;border:0;background:#fff;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;outline:none;font-size:11px;color:#333;}
		#h_auth #form_h_auth #h_auth_r{float:right;padding:27px 0 0;}
			#h_auth #form_h_auth #h_auth_r input{background:url(/browser/front/i/form_h_auth_sbm.png) 0 0 no-repeat;width:52px;height:24px;border:0;cursor:pointer;}
	#h_auth #h_auth_links{font-size:11px;color:#fff;text-align:right;padding:2px 0 0;}
		#h_auth #h_auth_links a{color:#fff;}

#h_authed{float:left;width:215px;color:#fff;font-size:11px;padding:24px 0 0 55px;}
	#h_authed a{color:#fff;}
	#h_authed ul{}
		#h_authed ul li{padding:0 0 10px;}
			#h_authed ul li span{float:left;width:90px;}
			#h_authed ul li b{float:left;width:124px;overflow:hidden;}
			#h_authed ul li.h_authed_links{padding:4px 0 0;}
				#h_authed ul li.h_authed_links .lft{float:left;}
				#h_authed ul li.h_authed_links .rgt{float:right;}

#main_menu{background:url(/browser/front/i/main_menu.png);height:48px;margin:16px 0 0;}
	#main_menu ul{float:left;padding:2px 0 0 3px;}
		#main_menu ul li{float:left;background:url(/browser/front/i/main_menu_li.png) 0 0 no-repeat;}
			#main_menu ul li>div{float:left;background:url(/browser/front/i/main_menu_li_div.png) 100% 0 no-repeat;padding:0 1px 0 0;}
				#main_menu ul li a{float:left;text-decoration:none;color:#231f20;font-size:11px;text-transform:uppercase;text-shadow:#fff 0 1px 1px;}
					#main_menu ul li a b{width:5px;height:42px;float:left;}
					#main_menu ul li a i{width:5px;height:42px;float:left;}
					#main_menu ul li a span{float:left;}
						#main_menu ul li a span div{float:left;height:27px;padding:15px 4px 0;}
		#main_menu ul li a:hover{color:#808080;}
		#main_menu ul li.first{background:none;}
			#main_menu ul li.first b{-moz-border-radius:2px 0 0 2px; -khtml-border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px; border-radius:2px 0 0 2px;}
			#main_menu ul li.first span div{background:url(/browser/front/i/ico_home.png) 8px 15px no-repeat;padding-left:32px;}
		#main_menu ul li.active{}
			#main_menu ul li.active a, #main_menu ul li a:active{color:#808080;}
				#main_menu ul li.active a b, #main_menu ul li a:active b{background:url(/browser/front/i/main_menu_li_a.jpg);}
				#main_menu ul li.active a i, #main_menu ul li a:active i{background:url(/browser/front/i/main_menu_li_a.jpg) -10px 0;}
				#main_menu ul li.active a span, #main_menu ul li a:active span{background:url(/browser/front/i/main_menu_li_a.jpg) 0 -42px;}

				/*#main_menu ul li a:hover{background:url(/browser/front/i/main_menu_li_a.jpg) 0 0 repeat-x;}
			#main_menu ul li a:active{background:url(/browser/front/i/main_menu_li_a.jpg) 0 -42px repeat-x;}*/
	#main_menu #main_menu_srch{background:url(/browser/front/i/main_menu_srch.jpg) 0 0 repeat-x;float:right;margin:2px 3px 0 0;-moz-border-radius:0 2px 2px 0; -khtml-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}
		#main_menu #main_menu_srch #main_menu_srch_i{background:url(/browser/front/i/main_menu_srch_i.png) 0 0 no-repeat;width:219px;height:42px;}
			#main_menu #main_menu_srch #main_menu_srch_i input{background:url(/browser/front/i/main_menu_srch_input.png);width:163px;height:23px;padding:0 10px 0 24px;border:0;margin:10px 0 0 11px;font-size:11px;font-family:Verdana;color:#ccc;}

#main{margin:9px 0 0;}
	#main #main_l{background:url(/browser/front/i/main_l.png) 0 0 no-repeat;padding:0 0 0 5px;}
		#main #main_l #main_r{background:url(/browser/front/i/main_r.png) 100% 0 no-repeat;padding:0 5px 0 0;}
			#main #main_l #main_r #main_i{background:url(/browser/front/i/main_i.png) 0 0 repeat-x;padding:24px 21px 0 18px;}
	#main #sidebar{width:225px;float:left;}
	#main #content{width:707px;float:right;}

#footer_i{background:url(/browser/front/i/footer.jpg) 0 0 repeat-x;height:179px;padding:0 20px 0 43px;-moz-border-radius:2px 2px 0 0; -khtml-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0;}
	#footer_i #footer_copy{color:#b2b2b2;font-size:11px;border-bottom:1px dotted #999;padding:21px 0 16px;}
	#footer_i #footer_menu{padding:14px 0 0;}
		#footer_i #footer_menu li{display:inline;font-size:12px;margin:0 14px 0 0;}
			#footer_i #footer_menu li a{color:#fff;}
	#footer_i #footer_contact{font-size:11px;color:#b2b2b2;padding:18px 0 0;}
		#footer_i #footer_contact li{padding:0 0 4px;}
			#footer_i #footer_contact li a{color:#b2b2b2;}

h1.second_style, h2.second_style{color:#e38a25;font-size:19px;font-weight:normal;padding:0 0 22px;}

.goods_item_noorder{}
	.goods_item_noorder .goods_item_noorder_i{border:1px solid #b9b9b9;height:27px;width:110px;padding:1px 5px 0 5px;background:url(/browser/front/i/goods_item_noorder.jpg) 0 0 repeat-x;}
		.goods_item_noorder .goods_item_noorder_i .goods_item_noorder_i_1{background:url(/browser/front/i/ico_basket_1.png) 0 5px no-repeat;font-size:11px;color:#fff;line-height:12px;padding:0 0 0 25px;}

.goods_item_order{}
	.goods_item_order a{display:block;border:1px solid #f49900;height:28px;background:url(/browser/front/i/goods_item_order.jpg) 0 0 repeat-x;color:#fff;text-decoration:none;outline:none;font-size:12px;position:relative;}
		.goods_item_order a span{display:block;height:22px;padding:6px 11px 0 33px;background:url(/browser/front/i/ico_basket_1.png) 8px 5px no-repeat;}
		.goods_item_order a .added{width:24px;height:20px;padding:4px 0 0;background:url(/browser/front/i/goods_item_order_added.png) 0 0 no-repeat;color:#fff;font-family:Tahoma;font-weight:bold;font-size:10px;position:absolute;text-align:center;top:-12px;right:-12px;}

.tooltip_container{display:none;width:162px;color:#000;}
	.tooltip_container .tooltip_container_h{background:url(/browser/front/i/tooltip_container.png) 0 0 no-repeat;width:100%;height:3px;}
	.tooltip_container .tooltip_container_f{background:url(/browser/front/i/tooltip_container.png) 0 -3px no-repeat;width:100%;height:15px;}
	.tooltip_container .tooltip_container_i{background:url(/browser/front/i/tooltip_container.png) -162px 0 repeat-y;padding:10px 16px 11px;font-size:11px;line-height:14px;}
		.tooltip_container .tooltip_container_i .tooltip_head{font-weight:bold;padding:0 0 3px;}

.dropdown_container{position:relative;}
	.dropdown_container input[type="text"]{height:24px;padding:0 20px 0 8px;border:1px solid #c7c7c7;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;background:url(/browser/front/i/gif_val_input.jpg) 100% 0 no-repeat;cursor:pointer;color:#333;font-size:11px;font-family:Verdana;}
	.dropdown_container input[type="text"].disabled{cursor:auto;color:#999;}
.dropdown-list{display:none;background:#fff;color:#686868;cursor:pointer;z-index:20;border:1px solid #C8C8C8;}
	.dropdown-list li{height:19px !important;padding:6px 8px 0 !important;font-size:11px !important;}
		.dropdown-list li:hover, .dropdown-list li.active{background:#e6e6e6;}

.s_grower_select{padding:0 0 19px;}
	.s_grower_select input[type="text"]{width:195px;}

.sb_catalog_block{border:1px solid #c8c8c8;margin:0 0 20px;}
	.sb_catalog_block .sb_catalog_block_h{background:url(/browser/front/i/sb_catalog_block_h.jpg) 0 0 repeat-y;}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i{color:#e38a25;font-family:Arial;font-size:14px;font-weight:bold;padding:10px 56px 9px 14px;cursor:pointer;background-position:196px 50%;background-repeat:no-repeat;border-bottom:1px solid #dbdbdb;}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i.block_opened{background-image:url(/browser/front/i/sb_catalog_block_opened.png);}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i.block_closed{background-image:url(/browser/front/i/sb_catalog_block_closed.png);}
	.sb_catalog_block .sb_catalog_block_i{padding:11px 18px 0;}
		.sb_catalog_block .sb_catalog_block_i .sb_catalog_line{border-bottom:1px dotted #b2b2b2;padding:4px 0 7px;}
			.sb_catalog_block .sb_catalog_block_i .sb_catalog_line a{font-size:12px;color:#333;text-decoration:none;}
				.sb_catalog_block .sb_catalog_block_i .sb_catalog_line a:hover{text-decoration:underline;}
			.sb_catalog_block .sb_catalog_block_i .sb_catalog_line span{font-size:11px;color:#ccc;}
		.sb_catalog_block .sb_catalog_block_i .sb_catalog_line.last{border-bottom:none;padding-bottom:18px;}
.sb_catalog_block.last{margin-bottom:45px;}

.s_block_1{}
	.s_block_1 .s_block_1_h{font-size:19px;color:#e38a25;padding:0 0 15px;}
.s_block_1.s_payment{margin:0 0 40px;}
	.s_block_1.s_payment .s_block_1_i{width:100%;height:94px;background:url(/browser/front/i/s_payment.jpg) 50% 0 no-repeat;}

#crumbs{font-size:11px;line-height:16px;color:#ccc;border-bottom:1px dotted #b2b2b2;margin:0 0 20px;padding:0 0 7px;height:14px;overflow:hidden;}
	#crumbs li{padding:0 14px 0 0;display:inline;}
		#crumbs li a{text-decoration:none;}
			#crumbs li a:hover{text-decoration:underline;}

#social_stripe{background:#FBF1D3;padding:5px 5px 4px 15px;margin:25px 0 0;}
	#social_stripe .yashare_label{float:left;font-size:12px;font-weight:bold;color:#333;padding:7px 10px 0 0;}

.texted{font-size:12px;color:#333;line-height:17px;}
	.texted h1{color:#e38a25;font-size:24px;line-height:25px;font-weight:normal;padding:0 0 17px;}
	.texted h2{color:#e38a25;font-size:19px;line-height:25px;font-weight:normal;padding:0 0 17px;}
	.texted h3{color:#e38a25;font-size:15px;line-height:20px;padding:5px 0 17px;}
	.texted p{padding:0 0 10px;}
	.texted ul{padding-bottom:10px;}
		.texted ul li{background:url(/browser/front/i/texted_li.png) 0 5px no-repeat;padding:0 0 10px 23px;}
		.texted ul li:last-child{padding-bottom:0;}
	.texted ol{}
		.texted ol>li{padding:0 0 10px;margin:0 0 0 18px;}
			.texted ol>li ul{padding-top:7px;padding-bottom:0;}		
	.texted .texted_hint{background:#fbf1d3 url(/browser/front/i/ico_hint_1.png) 13px 17px no-repeat;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;margin:0 0 30px;padding:13px 33px 9px 42px;}
		.texted .texted_hint h2{color:#e38a25;font-size:14px;font-weight:normal;padding:0;margin:0 0 9px;}

.table_one{width:100%;}
	.table_one tr{}
		.table_one p{margin:0;padding:0;}
		.table_one tr td, .table_one tr th{padding:10px;}
		.table_one tr th{background:#d8d8d8;}
		.table_one tr td{color:#333;}
		.table_one tr:nth-child(2n+1) td{background:#f4f4f4;}

.the_quote{font-size:11px;color:#666;border:1px solid #ccc;border-radius:5px;margin:10px 0 15px;padding:5px 10px;}

.level_item{float:left;width:160px;margin:0 22px 29px 0;}
	.level_item .li_img{border:1px solid #c8c8c8;}
		.level_item .li_img .li_img_i{width:144px;height:144px;padding:7px;}
			.level_item .li_img .li_img_i a{}
				.level_item .li_img .li_img_i a img{width:100%;height:100%;}
	.level_item .li_lnk{font-size:11px;color:#ccc;padding:9px 0 0;}
		.level_item .li_lnk a{font-size:12px;}
.level_item.r{float:right;margin-right:1px;}

.news_item{padding:0 0 25px;}
	.news_item .news_date{font-size:11px;color:#b2b2b2;padding:0 0 5px;}
	.news_item .news_lnk{font-size:12px;line-height:16px;}

#news_paging{text-align:center;font-size:12px;color:#666;padding:6px 0 0;}
	#news_paging li{display:inline;margin-right:8px;}
		#news_paging li a{color:#666;}
		#news_paging li.active a{font-weight:bold;text-decoration:none;}

#news_page{}
	#news_page #news_date{font-size:11px;color:#b2b2b2;padding:0 0 4px;}
#news_prev_next{font-size:11px;margin:20px 0 0;}
	#news_prev_next .npn{float:left;width:300px;line-height:16px;}
		#news_prev_next .npn span{display:block;font-weight:bold;color:#333;margin:0 0 8px;}
	#news_prev_next .npn#news_next{float:right;text-align:right;}

#growers_catalog{}
	#growers_catalog .grower_item{width:143px;height:92px;float:left;margin:0 45px 45px 0;}
		#growers_catalog .grower_item a{width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;display:block;}
	#growers_catalog .grower_item.r{margin-right:0;float:right;}

#form_Contacts{padding:34px 0 0;}
	#form_Contacts h2{color:#e38a25;font-size:14px;font-weight:normal;padding:0 0 11px;}
	#form_Contacts #fc_succ{font-size:18px;color:#666;font-family:Verdana;text-align:center;background:#fbf1d3 url(/browser/front/i/fc_succ.png) 84px 50% no-repeat;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;padding:17px 0;margin:0 0 18px;}
	#form_Contacts #fc_inner{background:#f2f2f2;border:1px solid #c8c8c8;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;padding:19px 19px 0;}
		#form_Contacts #fc_inner label{font-size:12px;display:block;padding:0 0 6px;}
		#form_Contacts #fc_inner input[type="text"]{width:300px;}
		#form_Contacts #fc_inner input[type="submit"]{border:1px solid #F49900;height:28px;background:url(/browser/front/i/register_sbm.jpg) 0 0 repeat-x;font-size:12px;color:#fff;font-family:Verdana;cursor:pointer;padding:0 11px 1px;}
		#form_Contacts #fc_inner .fc_line{padding:0 0 11px;}
		#form_Contacts #fc_inner .fc_line.sbm{padding:6px 0 25px;}
		#form_Contacts #fc_inner .txt_fld input[type="text"]{border:1px solid #c8c8c8;background:#fff;height:23px;color:#333;font-size:11px;font-family:Verdana;padding:0 5px;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;width:318px;}
		#form_Contacts #fc_inner textarea{border:1px solid #c8c8c8;background:#fff;color:#333;font-size:11px;font-family:Verdana;padding:5px;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;width:318px;resize:none;height:119px;outline:none;}

#sitemap_list{}
	#sitemap_list ul{padding:0 0 0 25px;}

#prices_link{background:url(/browser/front/i/ico_prices.png) 0 0 no-repeat;padding:0 0 0 40px;margin:14px 0 0;}
	#prices_link #pl_a{font-size:12px;padding:0 0 6px;}
	#prices_link #pl_info{font-size:11px;color:#999;}

.article_item{font-size:12px;padding:0 0 14px;}
	.article_item h2{padding-top:20px;}
	.article_item .article_item_letter{padding:0 0 6px;font-size:13px;color:#E38A25;font-weight:bold;}

.photogallery_item{float:left;width:160px;margin:0 22px 29px 0;}
	.photogallery_item .li_img{border:1px solid #c8c8c8;}
		.photogallery_item .li_img .li_img_i{width:144px;height:144px;padding:7px;}
			.photogallery_item .li_img .li_img_i a{}
				.photogallery_item .li_img .li_img_i a img{width:100%;height:100%;}
	.photogallery_item .li_lnk{font-size:11px;color:#ccc;padding:9px 0 0;}
		.photogallery_item .li_lnk a{font-size:12px;}
.photogallery_item.r{float:right;margin-right:1px;}

#search_page{}
	#search_page h2{font-size:14px;font-weight:bold;padding:0 0 8px;}
		#search_page h2 span{font-size:11px;font-weight:normal;color:#999;margin:0 0 0 7px;}
	#search_page .search_result{font-size:11px;padding:0 0 6px;}
	#search_page .search_result.last{padding-bottom:20px;}

.g_order_ostatok_zero{display:none;opacity:0;background:#fff;width:112px;height:32px;position:absolute;color:#333;font-size:11px;text-align:center;left:-1px;top:-1px;padding:7px 5px 1px;}

.uses_table{border-collapse:collapse;width:100%;}
	.uses_table td{border:1px solid #000;text-align:center;}

.page_article{padding:0 0 20px;}
	.page_article .page_article_img{float:left;width:66px;}
	.page_article .page_article_txt{float:right;width:620px;}
		.page_article .page_article_txt .page_article_h{font-size:14px;padding:0 0 10px;}
			.page_article .page_article_txt .page_article_h a{color:#3366cc;}
				.page_article .page_article_txt .page_article_h a:hover{}

.articles_container{}
.articles_container.doubled{}
	.articles_container.doubled .page_article{width:340px;float:left;}
		.articles_container.doubled .page_article .page_article_txt{width:260px;}
	.articles_container.doubled .page_article.even{float:right;}
.articles_container.with_last{}
	.articles_container.with_last .page_article{width:340px;float:left;}
		.articles_container.with_last .page_article .page_article_txt{width:260px;}
	.articles_container.with_last .page_article.even{float:right;}
	.articles_container.with_last .page_article.last{width:100%;}
		.articles_container.with_last .page_article.last .page_article_txt{width:620px;}

.article_typical_page{position:relative;}
	.article_typical_page #article_share{position:absolute;top:-47px;right:0;background:#fff;padding:0 0 0 15px;}