#cart_empty{font-size:30px;text-align:center;color:#333;padding:50px 0 0;}

.common_hint{background:#fbf1d3;border-radius:2px;font-size:11px;line-height:15px;color:#333;padding:9px 35px 8px 15px;}
	.common_hint .common_hint_ico{float:left;width:16px;height:8px;background:url(/browser/front/i/spr1.png) -82px -77px no-repeat;margin:3px 0 0;}
	.common_hint .common_hint_text{float:right;width:620px;}

#order_crumbs{width:100%;border-collapse:collapse;table-layout:fixed;margin:0 0 30px;}
	#order_crumbs td{border:1px solid #ccc;font-size:12px;padding:8px 0 8px 15px;}
	#order_crumbs td.active{background:#ccc;}

#order_main{}
	#order_main h2{color:#e38a25;font-size:19px;font-weight:normal;padding:0 0 22px;}
	#order_main #order_form_stripe{background:#eee;padding:10px 20px;border-radius:2px;margin:50px 0 0;}
		#order_main #order_form_stripe #ofs_back{float:left;font-size:12px;padding:6px 0 0;}
		#order_main #order_form_stripe #ofs_proceed{float:right;padding:1px 0 0;}
			#order_main #order_form_stripe #ofs_proceed input, #order_main #order_form_stripe #ofs_proceed a{text-decoration:none;outline:none;border:1px solid #F49900;height:26px;font-size:12px;color:#fff;font-family:Verdana;cursor:pointer;padding:0 18px;background:#eab000;margin:0 0 0 20px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcc3e', endColorstr='#ed9d00', GradientType=0 );
		background-image: -webkit-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -webkit-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -moz-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -o-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -ms-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);}
	
#order_goods{}	
	#order_goods #order_goods_table{width:100%;border-collapse:collapse;}	
		#order_goods #order_goods_table th{background:#f3f3f3;border-bottom:1px solid #e0e0e0;height:30px;font-weight:normal;color:#666;font-size:11px;}	
		#order_goods #order_goods_table td{border-bottom:1px dotted #b2b2b2;padding:12px 0 14px;}
		#order_goods #order_goods_table .td_name{width:317px;padding-left:9px;padding-right:30px;}	
			#order_goods #order_goods_table .td_name .td_name_link{font-size:12px;line-height:17px;}		
				#order_goods #order_goods_table .td_name .td_name_link b{width:42px;height:17px;display:inline-block;margin:0 0 0 5px;font-size:11px;color:#fff;text-align:center;background:#118d00;border-radius:2px;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ecc00', endColorstr='#0e7d00', GradientType=0 );
			background-image: -webkit-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);
			background-image: -webkit-linear-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);
			background-image: -moz-linear-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);
			background-image: -o-linear-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);
			background-image: linear-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);
			background-image: -ms-linear-gradient(top, #1ecc00 0%, #16a600 50%, #0e7d00 100%);}		
			#order_goods #order_goods_table .td_name .td_name_features{font-size:11px;color:#999;}		
		#order_goods #order_goods_table .td_price{width:146px;}	
			#order_goods #order_goods_table .td_price b{font-size:14px;color:#333;float:left;padding:0 5px 0 0;}	
			#order_goods #order_goods_table .td_price span{font-size:13px;color:#999;float:left;padding:1px 0 0;}	
		#order_goods #order_goods_table .td_amount{width:113px;}	
			#order_goods #order_goods_table .td_amount input[type="text"]{width:26px;padding:0 5px;text-align:right;border:1px solid #c7c7c7;height:24px;border-radius:2px;color:#333;font-size:11px;font-family:Verdana;outline:none;float:left;}	
			#order_goods #order_goods_table .td_amount input[type="text"].err{border-color:#ff0000;}	
			#order_goods #order_goods_table .td_amount span{font-size:12px;color:#666;float:left;padding:4px 0 0 11px;}	
		#order_goods #order_goods_table .td_del{text-align:center;}	
			#order_goods #order_goods_table .td_del a{text-decoration:none;font-size:16px;color:#ff0000;font-weight:bold;font-family:Verdana;}	
				#order_goods #order_goods_table .td_del a:hover{color:#e00000;}	
	
	#order_goods #order_goods_refresh{margin:9px 0 0 507px;}	
		#order_goods #order_goods_refresh #order_goods_refresh_ico{float:left;width:15px;height:15px;background:url(/browser/front/i/spr1.png) -82px -86px;margin:5px 10px 0 0;}	
		#order_goods #order_goods_refresh #order_goods_refresh_link{float:left;font-size:12px;padding:4px 0 0;}	
			#order_goods #order_goods_refresh #order_goods_refresh_link a{text-decoration:none;border-bottom:1px dotted #3366cc;}
				#order_goods #order_goods_refresh #order_goods_refresh_link a:hover{border-bottom:0;}	
				
	#order_goods #order_goods_values{padding:35px 0 0;}	
		#order_goods #order_goods_values li{}	
			#order_goods #order_goods_values li .ogv_label{float:right;color:#666;font-size:11px;line-height:14px;text-align:right;margin:6px 21px 20px 0;}	
			#order_goods #order_goods_values li .ogv_val{float:right;color:#ccc;width:200px;text-align:right;font-size:14px;padding:2px 0 0;}	
				#order_goods #order_goods_values li .ogv_val b{font-size:14px;color:#333;}	
		#order_goods #order_goods_values li#ogv_3{}	
			#order_goods #order_goods_values li#ogv_3 .ogv_val{font-size:18px;}		
				#order_goods #order_goods_values li#ogv_3 .ogv_val b{font-size:30px;font-weight:normal;}	
				
	#order_goods #coupon_block{border:1px solid #c8c8c8;background:#f2f2f2;border-radius:2px;padding:18px 20px 17px;margin:40px 0 0;}
		#order_goods #coupon_block label{font-size:12px;float:left;padding:5px 20px 0 0;color:#333;}				
		#order_goods #coupon_block input{float:left;border:1px solid #c8c8c8;padding:0 5px;border-radius:2px;color:#333;font-family:Verdana;font-size:11px;width:228px;height:23px;margin:0 20px 0 0;}				
		#order_goods #coupon_block #coupon_trigger{float:left;font-size:11px;padding:6px 0 0;}				
			#order_goods #coupon_block #coupon_trigger a{text-decoration:none;border-bottom:1px dotted #3366cc;}				
				#order_goods #coupon_block #coupon_trigger a:hover{border-bottom:none;}				
				
	#order_goods #cart_gift{padding:20px 0 0;}			
		#order_goods #cart_gift #no_gift{padding:20px 0;}			
		#order_goods #cart_gift #cart_gift_area{padding:20px 0;}			
			#order_goods #cart_gift #cart_gift_area label{float:left;font-size:12px;color:#333;padding:6px 0 0;}			
			#order_goods #cart_gift #cart_gift_area #cart_gift_select{float:right;}			
				#order_goods #cart_gift #cart_gift_area #cart_gift_select select{width:500px;}			
					
#cart_login{}		
	#cart_login .cl_item{border:1px solid #ccc;background:#f9f9f9;margin:0 0 20px;border-radius:2px;}		
		#cart_login .cl_item .cl_item_h{font-size:16px;color:#333;padding:8px 0 0 12px;}		
		#cart_login .cl_item .cl_item_c{padding:20px 12px 14px;}		
			#cart_login .cl_item .cl_item_c .cl_item_c_hint{font-size:11px;color:#999;padding:0 0 14px;}		
			#cart_login .cl_item .cl_item_c .cl_item_c_link{font-size:13px;}		
#form_CartAuth{}		
	#form_CartAuth .fl{float:left;padding:0 20px 0 0;}		
		#form_CartAuth .fl label{font-size:12px;color:#666;float:left;padding:6px 8px 0 0;}		
		#form_CartAuth .fl input[type="text"], #form_CartAuth .fl input[type="password"]{padding:0 5px;border:1px solid #c7c7c7;height:24px;border-radius:2px;color:#333;font-size:11px;font-family:Verdana;outline:none;float:left;}		
		#form_CartAuth .fl input[type="submit"]{border:1px solid #F49900;height:26px;font-size:12px;color:#fff;font-family:Verdana;cursor:pointer;padding:0 18px;background:#eab000;margin:0 0 0 20px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcc3e', endColorstr='#ed9d00', GradientType=0 );
		background-image: -webkit-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -webkit-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -moz-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -o-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -ms-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);}		
		
		
#form_OrderDelivery{}		
	#form_OrderDelivery #fod_items{}		
		#form_OrderDelivery #fod_items .fod_item{border:1px solid #ccc;margin:0 0 20px;border-radius:2px;}
		#form_OrderDelivery #fod_items .fod_item.disabled{opacity:.3;}
			#form_OrderDelivery #fod_items .fod_item .fod_item_head{font-size:13px;}		
					#form_OrderDelivery #fod_items .fod_item .fod_item_head .fod_item_head_input{float:left;padding:4px 15px 0 0;}		
						#form_OrderDelivery #fod_items .fod_item .fod_item_head .fod_item_head_input input{float:left;margin:1px 10px 0 0;}		
						#form_OrderDelivery #fod_items .fod_item .fod_item_head .fod_item_head_input span{float:left;}				
			#form_OrderDelivery #fod_items .fod_item .fod_item_fields{padding:20px 20px 5px;background:#f2f2f2;}		
				#form_OrderDelivery #fod_items .fod_item .fod_item_fields .fl{float:left;padding:0 0 15px;}		
					#form_OrderDelivery #fod_items .fod_item .fod_item_fields .fl label{font-size:12px;color:#333;display:block;padding:0 0 1px;}		
						#form_OrderDelivery #fod_items .fod_item .fod_item_fields .fl label span{color:#ff0000;font-weight:bold;font-size:11px;}		
					#form_OrderDelivery #fod_items .fod_item .fod_item_fields .fl input{border:1px solid #c8c8c8;padding:0 5px;border-radius:2px;color:#333;font-family:Verdana;font-size:11px;height:23px;}		
					#form_OrderDelivery #fod_items .fod_item .fod_item_fields .fl input.err{border-color:#ff0000;}		
			#form_OrderDelivery #fod_items .fod_item .fod_item_cost{}		
			
#self_fields{}			
	#self_fields .fl_name input{width:250px;margin-right:30px;}						
	#self_fields .fl_phone input{width:200px;}			
					
#courier_fields{}				
	#courier_fields .fl_name input{width:250px;margin-right:30px;}						
	#courier_fields .fl_phone input{width:200px;}				
	#courier_fields .fl_zipcode input{width:50px;margin-right:30px;}				
	#courier_fields .fl_city input{width:160px;margin-right:30px;}				
	#courier_fields .fl_street input{width:200px;margin-right:30px;}				
	#courier_fields .fl_house input{width:100px;}				